body{
	width:800px;
	width:90%;
	margin:auto;
}

@media screen and (min-width:640px) {
	body{
		background-color:#eaf6ff;
	}
}

@media screen and (max-width:500px) {
	h1{
		font-size:1.5rem;
	}
}

@media screen and (min-width:640px) {
	h1{
		font-size:2.5rem;
	}
}

#fixed-size-grid-items aside{
	width:170px;
	margin:10px;
	font-size:.8rem;
}

#fixed-size-grid-items li{
	display:inline-block;
}

#fixed-size-grid-items ul{
	padding-left:0px;
}

#stretchable-grid-items li{
	width:100%;
	display:inline-block;
}

@media screen and (min-width:480px){
	#stretchable-grid-items li{
	width:50%;
	}
}

@media screen and (min-width:640px){
	#stretchable-grid-items li{
	width:20%;
}

}
#stretchable-grid-items aside{
	margin:10%;
}

#stretchable-grid-items ul{
	margin-left:-10px;
	margin-right:-10px;
	margin-top:1rem;
	margin-bottom:1rem;
}