div#nav {
	width:800px;
	height:100px;
	padding-top:20px;
}

div#body{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	padding-left:155px;
	padding-top:50px;
	font-size:22px;
	text-transform:uppercase;
	line-height:145%;
	letter-spacing:.025px;
	height:520px;
}


div#text{
	margin-top:-15px;
	text-transform:none;
	font-weight:400;
	font-size:10px;
	line-height:135%;
	width:219px;
}

div#source{
	padding-bottom:200px;
	font-family: 'Raleway', sans-serif;
	font-size:6px;
	font-weight:300;
	padding-left:155px;
}
}

h2{
	width:300px;
	margin-bottom:0px;	
}
li {
	font-family: 'Raleway', sans-serif;
	display:inline;
	list-style-type:none;
	padding-left:22px;
	font-size:12.5px;
	text-transform:uppercase;
	letter-spacing:.15px;


}

a:link{
	color:black;
	text-decoration:none;

}

a:visited{
	color:inherit

}
a:hover{
	color:gray;
}


img#logo {
	width:80px;
	height:auto;
	padding-right:11px;
}
img#bottle {
	width:500px;
	height:auto;
	margin-top:-234px;
	padding-left:440px;
	padding-bottom:200px;
}


font-family: 'Raleway', sans-serif;