span.speaker1 {color:green; font-weight:bold;}
span.speaker2{color:red; font-weight:bold;}
span.speaker3{color:blue; font-weight:bold;}
span.speaker4{color:orange; font-weight:bold;}
span.speaker5{color:purple; font-weight:bold;}
span.speaker6{color:brown; font-weight:bold;}
span.talk{font-style:italic;}
span.action{font-weight:bolder;}