body{font-family:"Rasa",serif;
text-align:center;}
h1{font-family:"Shrikhand",cursive;}
span.inner {color:silver;}
span.outer {font-weight:bold;}
p.artist{font-family:"rasa",serif;
	line-height: 1px;}
